footer {
    background-color: hsl(169, 62%, 74%);
    height: 19.125rem;
    width: 100%;
    padding: 3.375rem 1.875rem;

    @include breakpoint-up(medium) {
        padding: 4.75rem 0;
        height: 25.375rem;
    }

    .logo {
        text-align: center;
        margin-bottom: 2.5rem;

        @include breakpoint-up(medium) {
            margin-bottom: 3.125rem;
        }

        img {
            height: 2rem;

            @include breakpoint-up(medium) {
                height: 2.5rem;
            }
        }
    }

    .links {
        display: flex;
        width: 20rem;
        justify-content: space-between;
        margin: 0 auto;
        margin-bottom: 4.375rem;

        @include breakpoint-up(medium) {
            margin-bottom: 5.625rem;
            width: 25rem;
        }

        a {
            color: $dark-moderate-cyan;
            font-size: 1rem;
            font-weight: 600;
            transition: color 300ms ease-in-out;

            &:hover {
                color: $white;
            }
        }
    }

    .social {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 15rem;
        margin: 0 auto;
        

        .facebook {
            
            &:hover {
                svg path {
                    fill: $white;
                }
            }
        }

        .insta {
            
            &:hover {
                svg path {
                    fill: $white;
                }
            }
        }

        .twitter {
            
            &:hover {
                svg path {
                    fill: $white;
                }
            }
        }

        .pinterest {
            
            &:hover {
                svg path {
                    fill: $white;
                }
            }
        }
    }
}